PORT=3005
DB_USER=equipment_app
DB_PASSWORD=super_secure_password
DB_HOST=localhost
DB_NAME=equipmentdb
DB_PORT=5432
FIREBASE_PROJECT_ID=your-project-id
FIREBASE_CLIENT_EMAIL=your-client-email
FIREBASE_PRIVATE_KEY="-----BEGIN PRIVATE KEY-----\nABC123...\n-----END PRIVATE KEY-----\n"